@using CoreDemo.Areas.Admin.Models
@model RoleUpdateViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Rol Güncelleme Sayfası</h1>

<div class="form-group">
    <form method="post">
        <div class="form-group">
            <input type="hidden" name="RoleId" value="@Model.RoleId" class="form-control" />
            @*<input type="text" value="@Model.RoleId" name="RoleId" class="form-control"/>*@
        </div>
        <div class="form-group">
            <input type="text" name="RoleName" value="@Model.RoleName" class="form-control" />
        </div>
        <button class="btn btn-primary">Güncelle</button>
    </form>
</div>
