<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Paneli</title>
    <link rel="stylesheet" href="~/adminlogin/dist/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <form autocomplete='off' class='form' method="post">
        <div class='control'>
          
            <h1>
                Giriş Yap
            </h1>
        </div>
        <div class='control block-cube block-input'>
            <input name='username' placeholder='Kullanıcı Adı' type='text'>
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
        </div>
        <div class='control block-cube block-input'>
            <input name='password' placeholder='Şifre' type='password'>
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
        </div>
        <button type="submit" class='btn block-cube block-cube-hover'>
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
            <div class='text'>
                Giriş Yap
            </div>
        </button>
     
    </form>
    <!-- partial -->

</body>
</html>
